<h1>Welcome, <%= @game.player[:name] %></h1>

<% if @game.player[:move] %>

    <p> <%= @game.player[:name]%>'s move :  <%= @game.player[:move] %><br>
    Computer's move :  <%= @game.comp_move %></p>
    <h1><%= @game.result %><%= " wins" unless @game.result == "Draw" %>!</h1>
    
    <form action="/name" method="post">
        <input type="hidden" name="name" value= <%= @game.player[:name] %>>
        <input type="submit" name="restart" value="Play Again">
    </form>

<% else %>

    <form action="/move" method="post">
        <input type="submit" name="rock" value="Rock">
        <input type="submit" name="paper" value="Paper">
        <input type="submit" name="scissors" value="Scissors">
    </form>

<% end %>